{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 1 - contatos</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Contatos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            {% for x in clientes %}
            <tr>
                <td><a href="{% url 'cliente' x.id %}">{{x.nome}} {{x.sobrenome}}</a></td>
                <td>{{x.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>